$("window").ready(function() {
  // var navabout = document.getElementById("nav-about").innerHTML
  // var $contactdiv = "don't contact me even though I say you can."

// $(selector).toggleClass(classname,function(index,currentclass),switch)

    $(".navbar-right").on("click", function(clickEvent) {


        var linkEl = clickEvent.target
        if (linkEl.getAttribute('data-id') === 'services') {
          $('.navbar-fixed-top').toggleClass("navbar-show", 1000);
          $("#nav-about").html("<section id='about' class=''><div class='container'><div class='row'><div class='col-xs-12 section-title text-center'><h2>About</h2><span class='section-divider'></span></div></div><div class='row mb15'><div class='col-sm-5 leftReveal'><h5 class='heading-1 mb20'>Our Trade</h5><h3 class='mb15 no-margin-top'>Gathering public information about employers to <br>Help you on your big day.</h3><p class='no-margin text-small'>But <strong>please</strong> don't be creepy about it.</p></div><div class='col-sm-7 mt30-xs rightReveal'><h5 class='heading-1 mb20'>Why we started it</h5><span class='icon-handle-streamline-vector logo-about'></span><p>Interview Prep was built to be as an easy, one stop shop to gather information about a company/hiring manager, build a resume, and brush up on common questions/answers before your big day. <br><br> Interview Prep connects with several APIs to gather as much public data as possible on companies and possible hiring managers to help inform the interviewee before a conversation. <br><br> An interview should naturally gravitate toward a conversation for you and the interviewee to feel comfortable. A way to make this happen is to know as much about the company and hiring manager as possible to have conversation starters. Interview Prep helps solve that problem.</p></div></div></section>");



        }
        if (linkEl.getAttribute('data-id') === 'contact') {
          $('.navbar-fixed-top').toggleClass("navbar-show", 1000);

        }

      });











    $(".logo-top").on("mouseover", function() {
        $(this).animate({
            'top': '20px',

        }, 100);
    });



    $(".logo-top").on("mouseleave", function() {
        $(this).animate({
            'top': '5',

        }, 100);
    });

    var current = 1;
    var height = $('.ticker').height();
    var numberDivs = $('.ticker').children().length;
    var first = $('.ticker h1:nth-child(1)');
    setInterval(function() {
        var number = current * -height;
        first.css('margin-top', number + 'px');
        if (current === numberDivs) {
            first.css('margin-top', '0px');
            current = 1;
        } else current++;
    }, 2500);





});
