// Place all the styles related to the homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.welcome{

}

.warnings{
  position: absolute;
  top: 82px;
  left: 46.1%;
}

.pie{
  background-color: white;
  width: 100%;
}

hr{
  margin-top: 10px;
  margin-bottom: 5px;
}

.modal-sm{
  width: 400px;
  .sign-up{
    padding: 20px;
    width: 100%;
    height: 100%;
  }
  .sign-in{
    padding: 20px;
    width: 100%;
    height: 100%;
  }
}

.profile{

  margin: 15px;
  display:flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: center;
align-content: center;
align-items: center;
}

.logo-top{
  position: fixed;
  top: 5px;
  margin-left: -42px;
  left: 50%;
  width: 80px;
  height: 80px;
  background-color: #00b8ce;
  border: 2px solid white;
  border-radius: 100%;
  z-index: 1000000;
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;

.logo{
    vertical-align: middle;
  width: 55px;
  height: auto;
  opacity: 0.8;

}

}
.logo-big{
  width: 250px;
  height: auto;
  opacity: 0.3;
}

.main-image{
  height: 100vh;
  width: 100vw;
}

.welcome-div{
  position: fixed;
  top: 54px;
  left: 0px;
  width: 200px;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.1);

.text-center{
  padding-top: 100px;
}
}

.sign-up-div{
  position: absolute;
  top: 120px;
  left: 50px;
  width: 400px;
  .sign-up{
    padding: 20px;
    .form-label-text{

    }
  }
}
.container{
  padding-top: 100px;
  width: 96%;
}

.container1{
  padding-top: 20px;
}
.contain{
  padding: 50px;

}

.container2{
  background-color: #ecf0f1;
}



.ticker-div{
  width: 500px;
  position: absolute;
  top: 550px;
  right: 80px;
}

.tab-content{
  padding: 0px;
width: 95%;

.tab-pane{
  background-color: rgba(255, 255, 255, 0.3);
  padding: 0px;
    width: 100%;
    border: none;
}
}


.sign_in_container{
  padding: 35px;
  background-color: white;
  width: 400px;
  height: 400px;
}



.nav-about{
  width: 100%;
  height: auto;
}



.col-sm-12{
  margin-top: 20px;
  .col-sm-6{
    border: 1px solid #1d1d1d;
  }
}
.pdfcontainer{
  padding: 20px;
}
.col-sm-6{
  padding: 2px;
}
.col-sm-4{
  padding: 2px;
}
.col-sm-2{
  padding: 2px;
}

.signup-container{
  width: 500px;
  height: 100%;
  background-color: white;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;

}

textarea{
  width: 100%;
  height: 100px;
}
.form-group{
  width: 100%;
  .controls{
    width: 100%;
    #contact_subject{
      width: 100%;
    }

    #contact_yourname{
      width: 100%;
    }
    #contact_email{
      width: 100%;
    }
  }
}

#contact_phone{
  width: 100%;
}

.listcompany{
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.itemspresent{
  width: 25px;
  height: auto;
}

.avatar{
  width: 100px;
  height: auto;
  border: 1px solid gray;
}

.wrapcompany{
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;

}


.twitter-wrap{
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: flex-start;
  align-items: flex-start;
  padding: 15px;
}

.contentcontainer{
  padding: 20px;
  position: relative;

}

.contentcontainer1{
  padding: 20px;

  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content:space-between;
  align-content: flex-start;
  align-items: flex-start;
  padding: 15px;
}

.reviewwrap{
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content:flex-end;
  align-content: flex-start;
  align-items: flex-start;
  padding: 15px;
}

.aboutreview{
  padding: 20px;
width: 100%;
}
.reviewwrap{
  padding: 20px;
}
.ceoabout{
  padding: 20px;
}
.featuredReview{
  padding: 20px;
}
.social-profiles{
  padding: 10px;
  height:590px;
  width: 100%;
  overflow-y:scroll;
   background:#fff;

.social-profile{
  padding: 20px;
  border: 1px solid gray;
}
}

.boss-mentions{
  width: 300px;
}

.static-about{

  width: 26%;

}



.manager{
  position: fixed;
  width: 28%;
  margin-left: 10px;
  margin-top: 20px;

}

.update-absolute{
  width: 29%;
  margin-left: 10px;
}
.twitter-center{
  width: 39%;

}

.companytwitter{
  width: 40%;
}

.tweets-liked{
  width: 30%;
}
.panel-body{
    background-color: white;
}
.res-panel-body{
    background-color: rgba(236, 240, 241, 0.9);
    padding: 10px;
}
.social-panel-body{
    background-color: white;
    height: 600px;
}

.aboutwrap{
  width: 29%;
  margin-left: 10px;
}

h2 .panel-font{
  font-family: "Montserrat",sans-serif;
  font-size: 12px;
  text-transform: uppercase;
}
