// Place all the styles related to the resumes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.contact-resume{
  border-bottom: 1px solid black;
  text-align: center;
}

.company{
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;

.position{
  text-align: left;
  display: inline-block;
}
.startend{
  display: inline-block;
  text-align: right;
  width: 100%;
}
}
