// Place all the styles related to the resumes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.contact-resume{
  border-bottom: 1px solid black;
  text-align: center;
}

.company{
  display: inline-block;
width: 100%;

.position{
  text-align: left;
  float: left;
}
.startend{
  text-align: right;
  float: right;

}
.content{
  display: block;
}
}

ul{
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
h1{
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
h2{
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
h3{
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
h4{
 padding-top: 0px;
 padding-bottom: 0px;
 margin-top: 0px;
 margin-bottom: 0px;
}
h5{
 padding-top: 0px;
 padding-bottom: 0px;
 margin-top: 0px;
 margin-bottom: 0px;
}
h6{
 padding-top: 0px;
 padding-bottom: 0px;
 margin-top: 0px;
 margin-bottom: 0px;
}
